body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 50px;


}


.sign-container {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.playing-field-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background: center/contain no-repeat url("Images/doodles1920.svg");
    background-size: cover;
    


}

.playing-field {

    display: grid;
    grid-template: repeat(3, minmax(125px, 200px))/repeat(3, minmax(125px, 200px));


}

.top-row {
    border-bottom: solid 2px black;

}

.middle-row {

    border-bottom: solid 2px black;
}

.bottom-row {

}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-size: 40px 40px;

}


#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events: none;


}

#overlay.active {
    opacity: 0;
    pointer-events: all;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;


}

#overlay.activeEnd {
    opacity: 1;
    pointer-events: all;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;


}

#square-1 {
    grid-row: 1;
    grid-column: 1;
}

#square-2 {
    grid-row: 1;
    grid-column: 2;

}

#square-3 {
    grid-row: 1;
    grid-column: 3;

}

#square-4 {
    grid-row: 2;
    grid-column: 1;

}

#square-5 {
    grid-row: 2;
    grid-column: 2;

}

#square-6 {
    grid-row: 2;
    grid-column: 3;

}

#square-7 {
    grid-row: 3;
    grid-column: 1;

}

#square-8 {
    grid-row: 3;
    grid-column: 2;

}

#square-9 {
    grid-row: 3;
    grid-column: 3;

}

#square-1, #square-4, #square-7 {
    border-right: solid 2px black;
}

#square-3, #square-6, #square-9 {
    border-left: solid 2px black;
}

